@import '~bootstrap-sass/assets/stylesheets/_bootstrap-custom';

@mixin mobile {
	@media (max-width: $screen-sm-max) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $screen-md-max) {
		@content;
	}
}


* { box-sizing: border-box; }

body {
	color: white;
	font-family: 'Lane';
	background-color: #dce3e7;
}

.brandWrapper {
  height: 20vh;
  @include mobile {
    height: 100%;
  }

  .brand {
    color: white;
    background-color: #e84545;
    padding: 12px;
    margin-top: 15px;
    @include mobile {
      margin: 0;
    }
  }
  .line {
    position: absolute 30px 0 0 -200px;
    width: 100vw;
    height: 3px;
    background-color: #000;
    z-index: -99;
  }
}

.dexmainWrapper {
  background-color: #e0e0e0;
  margin-left: 15px;
  @include mobile {
    margin-left: 0;
    background-color: #903749;
  }
  
  .dexmain {
    position: relative;
    height: 100vh;
    background-color: #2a2a3e;
    
    
    .dexheader {
      display: flex;
      height: 11vh;
      align-items: center;
      background-color: #34344d;
      z-index: 3;
      
      .species {
        display: flex;
        font-size: responsive 16px 25px;
        color: #ababce;
        line-height: 23px;
      }
      
      .heading {
        font-size: responsive 30px 65px;
        text-align: center;
      }
      
      .type {
        height: 100%;
        padding-right: 0;
        
        .types {
          display: flex;
          height: 50%;
          justify-content: center;
          align-items: center;
          background-color: red;
        }
      }
    }
    
    .dexinfo {
      border: 2px solid #3f3f55;
      margin-top: 15px;
      
      .infoheader {
        padding-right: 0;
        
        .ledWrapper {
          display: flex;
          position: relative -2px 17px;
          width: 20%;
          height: 35px;
          align-items: center;
          justify-content: center;
          background-color: #2a2a3e;
          border-left: 2px solid #3f3f55;
          border-bottom: 2px solid #3f3f55;
          padding-right: 0;
          
          %leds {
            display: inline-block;
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: #ffee58;
            content: '';
            border-radius: 50px;
            @include tablet {
              width: 20px;
              height: 20px;
            }
          }
          .led {
            @extend %leds;
            position: relative;
            margin-right: 15px;
            
            &::before {
              @extend %leds;
              background-color: #ef5350;
              right: 36px;
              @include tablet {
                right: 30px;
              }
            }
            &::after {
              @extend %leds;
              background-color: #66bb6a;
              left: 36px;
              @include tablet {
                left: 30px;
              }
            }
          }
        }
      }
    }
    
    .description {
      font-size: responsive 13px 22px;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
    }
  }
}

.dexsearch {
  height: 80vh;
  background-color: #903749;
  margin-left: 0;
  @include mobile {
    height: 40.1vh;
  }

  .search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    margin: 3vh 0 1.6vh 0;
    @include mobile {
      margin: 0 0 1vh 0;
    }

    &::placeholder {
      color: #fff;
    }
    &:focus {

    }
  }

  .pokemonlist {
    height: 70vh;
    overflow-y: scroll;
    margin-bottom: 0;
    @include mobile {
      height: 34vh;
    }

    .pokemon {
      display: flex;
      background-color: #612935;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      &:not(:last-of-type) {
        border-bottom: solid 1px #acacac;
      }

      .number {
        display: flex;
        align-items: center;
        font-size: responsive 18px 23px;
        background-color: #6b303c;
        padding: 10px;
        z-index: 2;
      }
      .icon {
        width: 44px;
        height: 52px;
        display: flex;
        align-items: center;
        background-color: #6a2c38;

        img {
          padding: 2px;
          transform: translateX(-50px);
          transition: all 1s;
        }
      }
      .name {
        padding-left: 10px;
        display: flex;
        align-items: center;
        font-size: responsive 23px 27px;
      }
    }
  }
}
